In [1]:
import pandas as pd
import numpy as np
from imblearn.combine import SMOTEENN
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("telChurn.csv")

In [3]:
obj_col = df.select_dtypes(include='object').columns
obj_col

Index(['last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8',
       'date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8',
       'date_of_last_rech_data_6', 'date_of_last_rech_data_7',
       'date_of_last_rech_data_8'],
      dtype='object')

In [4]:
df.drop(obj_col,axis=1,inplace=True)
df.head()

,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,...,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,Churn,total_amount_7,total_amount_6,avg_amt_7_6
0,0.0,0.0,0.0,197.385,214.816,213.803,0.00,0.00,0.00,0.00,...,1.0,968,30.40,0.00,101.20,3.58,1,253.0,253.0,253.0
1,0.0,0.0,0.0,34.047,355.074,268.321,24.11,78.68,7.68,15.74,...,1.0,1006,0.00,0.00,0.00,0.00,0,155.0,0.0,77.5
2,0.0,0.0,0.0,261.636,309.876,238.174,50.31,149.44,83.89,76.96,...,0.0,1526,0.00,0.00,0.00,0.00,0,0.0,57.0,28.5
3,0.0,0.0,0.0,378.721,492.223,137.362,413.69,351.03,35.08,94.66,...,1.0,315,21.03,910.65,122.16,0.00,0,356.0,0.0,178.0
4,0.0,0.0,0.0,119.518,247.435,170.231,33.89,30.11,22.43,63.48,...,0.0,902,0.00,0.00,0.00,0.00,0,155.0,0.0,77.5

In [5]:
X = df.drop('Churn', axis=1)
y = df.Churn
y.value_counts()

0    27879
1     2569
Name: Churn, dtype: int64

In [6]:
sm = SMOTEENN()
xrs, yrs = sm.fit_resample(X, y)

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(xrs,yrs,train_size = 0.7, random_state = 42)

In [8]:
df = DecisionTreeClassifier(criterion= 'gini', random_state=100, max_depth=6,min_samples_leaf=8)

In [9]:
df.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [10]:
y_pred4=df.predict(X_test)
y_pred4

array([1, 0, 0, ..., 1, 1, 1])

In [11]:
df.score(X_test,y_test)

0.9181079391539904

In [12]:
print(classification_report(y_test, y_pred4, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.89      0.92      0.91      6120
           1       0.94      0.92      0.93      8277

    accuracy                           0.92     14397
   macro avg       0.92      0.92      0.92     14397
weighted avg       0.92      0.92      0.92     14397

# Random_Forest

In [13]:
rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [14]:
rf.fit(X_train,y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [15]:
y_pred5=df.predict(X_test)
y_pred5

array([1, 0, 0, ..., 1, 1, 1])

In [16]:
rf.score(X_test,y_test)

0.921233590331319

In [17]:
print(classification_report(y_test, y_pred5, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.89      0.92      0.91      6120
           1       0.94      0.92      0.93      8277

    accuracy                           0.92     14397
   macro avg       0.92      0.92      0.92     14397
weighted avg       0.92      0.92      0.92     14397